
#main-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#button-div {
  padding-bottom: 50px;
}

#play-area {
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

#table{
  display: flex;
  justify-content: center;
}

#centered-content {
  align-self: center;
}

#sub_img {
  height: 200px;
  width: 200px;
}

#ship_img {
   height: 200px;
   width: 200px;
}

.cn {
  display: flex;
  justify-content: center;
}

.inner {
  align-self: center;
}

.active {
  background-color: orange;
}

td {
  height: 40px;
  width: 40px;
}

.#player0track .active {
  background-image: url("../images/yellow_car.jpeg");
  background-size: 40px 40px;
  background-repeat: no-repeat;  
}

#player1track .active {
  background-image: url("../images/green_car.jpeg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
}

#start {
  height: 35px;
}

#restart {
  height: 35px;
}




