.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.racer_table td.active {
  background-color: black;
}

.racer_table td.test {
  background-color: orange;
}

.hidden {
  display: none;
}

td {
  border: 1px solid red;
  height: 20px;
  width: 10px;
}

.border {
  margin-top: 20px;
  border: 1px solid green;
  width: 200px;
  height: 200px;
  background-color: yellow;
}