
.active {
  background-color: orange;
}


td {
  height: 40px;
  width: 40px;
  //background-color: black;
}

table {
  margin: 0 auto;
  border: 1px solid red;
}

.#player0track .active {
  background-image: url("../images/yellow_car.jpeg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  
}

#player1track .active {
  background-image: url("../images/green_car.jpeg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

body {
    margin : 0;
    //background-color: #1E90FF;
    background: #ccc;

}

#main-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inner-container {
    display: flex; // Important
    flex-direction: column; // Important
    align-items: center;// Important
    justify-content: center; // Important
}

#centered-content {
    display: flex; // Important
    flex-direction: column; // Important
    align-items: center;// Important
    justify-content: center; // Important

}

.center {
  text-align: center;
}

#button-div {
    display: flex; // Important
    flex-direction: column; // Important
    align-items: center;// Important
    justify-content: center; // Important
    //border: 1px solid white;
    //width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#start {
  height: 35px;
  // margin-top: 20px;
  // margin-bottom: 100px;
}

#restart {
  height: 35px;
}